.ideaform h3	{
	float: left;
	padding-right: 20px;
}

.ideaform {
	padding: 20px;
	margin: 10px;
} 

.input {
	padding: 20px 12px;
	box-sizing: border-box;
  width: 50%
  height: 50px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  resize: none;
  font-size: 16px;
  display: flex;
  justify-content: center;
}

select {
	 	padding: 16px 20px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
    height: 30px;
}

.call-button {
	margin-top: 5px;	
	display: flex;
	justify-content: center;
}
.call-button:hover {
	margin-top: 5px;	
 	display: flex;
 	justify-content: center;
 	background-color: #2d3339;
 	color: white;
}
