body { 
	margin: 0;
	 }

* {
	-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
			box-sizing: border-box;
}

section {
	overflow: hidden;
}

p, h1, h3 {
	margin: 0;
}

h3 {
	padding-bottom: 20px;
	padding-top: 20px;
	letter-spacing: 2.5px;
}

a {
	color: inherit;
	text-decoration: none;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.black {
	color: black;
}

.grey {
	color: #2d3339;
}

.nav {
	height: 85px;
	width:100%;
	padding: 10px;
}

.nav > ul {
	margin: 0;
}

.container {
	margin: auto;
	max-width: 1000px;
	width: 100%;
}

.logo {
	float: left;
	width: 85px;
}

.menu {
	display: inline-block;
	float: right;
	width: 400px;
}

.menu > li {
	display: inline-block;
}

header {
	margin: 0;
	overflow: auto;
}

.intro {
	padding-top: 15px;
}

.right {
	text-align: center;
	padding-top: 62px;
}

.footer-menu > li {
	display: inline-block;
	padding-right: 20px;
	margin-top: 20px;
}

footer {
	height: 40px;
	width:100%;
	padding: 10px;
}