body {
	font-family: Montserrat, Helvetica;
}

.nav {
	background-color: #2baabe;
	padding: 10px;
}

.menu {
	padding-top: 13px;
}

.menu > li {
	padding: 10px;
	transition: 0.3s color ease-in-out;
	-webkit-transition: 0.3s color ease-in-out;
}

.menu > li:hover {
	color: white;
	transition: 0.3s color ease-in-out;
	-webkit-transition: 0.3s color ease-in-out;

}

header {
	background-image: url('../images/ideaheader3.jpg');
	background-color: #f4f4f6;
	background-repeat: no-repeat;
	padding-top: 40px;
	height: 550px;
	width: 100%;
	background-position: center center;
	background-size: cover;
}

.header-title {
	color: #2d3339;
	font-size: 65px;	
	text-transform: uppercase;
	text-align: center;
}

.header-subtitle {
	color: #2d3339;
	font-size: 27px;	
	text-transform: uppercase;
	text-align: center;
	cursor: pointer;
}

.project-list {
	background-color: #2baabe;
	width: 100%;
	height: 200px;
	overflow: auto;
}

.section-title, .ideas-title {
	text-transform: uppercase;
	font-size: 27px;
	color: white;
}

.intro {
	float: left;
	width: 50%;
}

.intro-right {
	float: left;
	width: 50%;
}

.call-button {
	color: #2d3339;
	font-size: 27px;
	text-transform: uppercase;
	text-decoration: none;
	border: 5px solid #2d3339;
	padding: 10px 30px;
}

.intro p {
	color: white;
	font-size: 20px;
	margin-top: 20px;
	line-height: 40px;
}

.column {
	width: 50%;
	float: left;
	transform: scale(.9);
	-webkit-transform: scale(.9);
	-moz-transform: scale(.9);
	-o-transform: scale(.9);
}

.column img {
	display: block;
	max-width: 80%
	margin: auto;
	opacity: .75;
	padding-bottom: 40px;
	transition: 0.3s all ease-in-out 0s;
	-webkit-transition: 0.3s all ease-in-out 0s;
	-moz-transition: 0.3s all ease-in-out 0s;
	-o-transition: 0.3s all ease-in-out 0s;
}

.column img:hover {
	opacity: 1;
	transform: scale(1.2);
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-o-transform: scale(1.2);
	transition: 0.3s all ease-in-out 0s;
	-webkit-transition: 0.3s all ease-in-out 0s;
	-moz-transition: 0.3s all ease-in-out 0s;
	-o-transition: 0.3s all ease-in-out 0s;
}

.column img.bigger {
		opacity: 1;
	transform: scale(1.2);
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-o-transform: scale(1.2);
}

.images {
	padding-top: 20px;
	padding-bottom: 20px;
}


.submit-button {
	color: white;
	font-size: 27px;
	text-transform: uppercase;
	text-decoration: none;
	border: 5px solid white;
	padding: 10px 10px;
}

.ideas {
	background-color: #4e575c;
	width: 100%;
	height: 170px;
	overflow: auto;	
}

footer {
	background-color: #2d3339;
	padding: 10px;
}

.project-title {
	background-size: 500px;
	color: #2d3339;
	font-size: 35px;	
	text-transform: uppercase;
	text-align: center;
	padding: 120px;
}

.project-title p {
	font-size: 20px;
	margin-top: 20px;
	line-height: 40px;
}

.idea-title {
	background-image: url('../images/submitheader.jpg');
	background-color: #f4f4f6;
	background-repeat: no-repeat;
	padding-top: 30px;
	height: 250px;
	width: 100%;
	background-position: center center;
	background-size: cover;
	opacity: 0.5;
}

.idea-title h1 {
	font-size: 67px;
	text-align: center;
	padding-top: 20px;
}

.ideas h3 {
	text-align: center;
}


.project-tiles {
	width: 100%;
	height: 100%;
	overflow: auto;
	display: flex;
	flex-direction: column;
	margin: 20px;
}

.white {
	color: white;
}

.blue {
color: #2baabe;
}

.grey {
	color: #2d3339;
}